title: "Samuel Nkrumah - Portfolio"
description: "Data Analyst | Physician Assistant"
baseurl: ""
url: "https://sammyorbz.github.io"
theme: minima

# Enable support for Jekyll SEO
plugins:
  - jekyll-seo-tag

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
